.skills-info-card {
    min-height: 23rem;
    border-radius: .65rem;
    /* border: 1.5px solid hsl(253, 43%, 52%, 0.5); */
    /* background: var(--background); */
    /* background: var(--background); */
    background: var(--background);
    backdrop-filter: blur(10rem);
    box-shadow: 
                inset -5px -5px 5px var(--three-color),
                inset 5px 5px 5px rgba(255, 255, 255, 0.02);
    /* box-shadow: 10px 10px 0px 1px var(--three-color); */
}

.skills-info-card h6 {
    font-size: 1.2rem;
    font-weight: var(--font-500);
    padding: 2rem 2rem .5rem 2rem;
    /* background: linear-gradient(180deg, #ac96ff 0%, hsl(253, 73%, 64%) 100%); */
    background: var(--first-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border-bottom: 2.5px solid var(--background); */
}

.skills-info-content {
    padding: 2rem;
}

.skill-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-info p {
    font-size: 1rem;
}

.skill-info .percentage {
    /* color: hsl(284, 92%, 76%); */
    color: var(--white-color);
}

.skill-progress-bg {
    width: 100%;
    height: .5rem;
    /* background: #382e68; */
    background: hsla(203, 71%, 60%, 0.4);
    border-radius: .5rem;
    margin: 1rem 0;
    overflow: hidden;
}

.skill-progress {
    width: 0%;
    height: .5rem;
    /* background: linear-gradient(90deg, hsl(252, 98%, 79%) -50%, #7d60e6 50%); */
    background: var(--first-color);
    border-radius: .5rem;
    transition: all .2s ease-in-out;
}








/* RESPONSIVE =============================================================================*/
@media screen and (max-width: 1500px) {
    .skills-info-card h6 {
        font-size: 1.1rem;
    }

    .skill-info p {
        font-size: .7rem;
    }

    .skills-info-content {
        padding: 1.8rem;
    }
}


@media screen and (max-width: 450px) {
    .skills-info-card {
        box-shadow: 
                    inset -4px -4px 4px var(--three-color),
                    inset 4px 4px 4px rgba(255, 255, 255, 0.02);
    }

    .skills-info-card h6 {
        font-size: 1rem;
        padding: 1.5rem 1.5rem .3rem 1.5rem;
    }

    .skill-info p {
        font-size: .8rem;
    }
}